.tasks-completed {
	padding-right:10em;
}

.spinner {
	height: 15px;
	width: 45px;
}

.ui-spinner{
	margin-bottom: 4px;
}

.lbl-cost-split{
	margin-top: 5px;
}

.irs-grid-pol.small{
    display: none;
}

.irs-grid-text {
	font-size: 8pt;
	color: black;
}