{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/ion.rangeSlider-2.2.0/css/ion.rangeSlider.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/ion.rangeSlider-2.2.0/css/ion.rangeSlider.skinHTML5.css' %}" />
    <link rel="stylesheet" href="{% static 'precursor/css/style.css' %}" />

    <!-- JS Libs-->
    <script src="{% static 'libs/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'libs/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- OWN JS -->
    <script src="{% static 'precursor/js/functions.js' %}"></script>

</head>
<body>
    <div class="container task-body"></div>
</body>
</html>