{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-theme.min.css' %}" />
</head>
<body>
    <div class="container task-body">
    	<div class="row body">
    		<div class="col-md-12">
    			<div class="panel panel-primary">

    				<div class="panel-heading text-center">
    					<div class="row score-panel">
    						<div class="offer-timer hidden">0</div>

    						<div class="col-md-offset-2 col-md-3">
    							<h4>Tasks completed: {{ completed_tasks }} / {{ total_task }}</h4>
    						</div>
    						<div class="col-md-offset-2 col-md-3">
    							<h4>Reward so far: £{{ participant.reward }}</h4>
    						</div>
    					</div>
    				</div>
    	  			
    	  			<div class="panel-body">
    	  				<h4 class="text-center">
    		    			You have finished the study.
    	    			</h4>
    	  			</div>
    			
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>


