{% load static %}

<div class="col-md-12 text-center">
	<hr/>
	<p class='text-center'>
		<img src="{% static 'precursor/imgs/' %}{{ task.item.name.split | join:'_'}}.jpg"/><br>
		{{ task.item.name | title }} ({{ task.item.quantity }})<br>
		Wholesale price: £{{ task.item.groupbuy_price }}  (1 pack of {{ task.item.groupbuy_pack}} items)<br>
		RRP: £{{ task.total_market_price}} for 1 item<br>
	</p>
	<hr/>
</div>