<div class="col-md-12 text-center">
	<p class='text-center'>
		<i class="fa fa-spinner  fa-pulse fa-3x fa-fw"></i>
	</p>

	<p class="text-center">
		{% if participant.role == 'proposer' %}
			<script>
				check_response();
			</script>
			<p>You offered to pay £{{ task.offer }}</p>
			<p>Waiting for the other participant's response</p>
		{% else %}
			<script>
				check_offer();
			</script>
			Waiting for the other participant's offer
		{% endif %}
	</p>
</div>

