{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-theme.min.css' %}" />
</head>
<body>

    {% block description %}
    <h2>Login</h2>
    {% endblock %}

    {% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}

        <label>{{ form.username.label_tag }}</label>
            {{ form.username }}
        <label>{{ form.password.label_tag }}</label>
            {{ form.password }}
    <p>
        <input type="submit" value="login" />
    </p>

    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>
    {% endblock %}
    
</body>
</html>
