<div class="col-md-12">

<p class="text-center">
	The other participant is offering you to split this wholesale pack:

	{% if participant.condition == 'transparent' %}
	The other participant is also in <strong>the same position as you</strong>, as the person needs {{ task.item.market_quantity }} of {{ task.item.name }} and will need to buy from the supermarket (for the same price as you) if he does not find someone to share.

	{% endif %}
</p>

<p class="text-center">
	Total cost: £{{ task.item.groupbuy_price }}<br/>
	Your budget for this item is £{{ task.item.market_price }} <br>
</p>

<p class="text-center">
	Other person pays: £{{ task.offer }} <br>
	You pay: £{{ to_pay }}<br>
	Potential savings: £{{ savings }}
</p>
<p class="text-center">
	{% if participant.condition == 'transparent' %}
	If you do not accept this offer, <strong>both of you</strong> will need to buy the item for £{{ task.item.market_price }} (RRP).

	{% else %}
	If you do not accept this offer, you will need to buy the item for £{{ task.total_market_price}} (RRP).

	{% endif %}

	<br>What will you do with the offer? <br>
	<em>Important: you cannot change your response.</em>
</p>


<p class="text-center">
	<button type="button" class="btn btn-primary btn-respond" data-response="accepted">Accept</button>

	<button type="button" class="btn btn-primary btn-respond" data-response="rejected">Reject</button>

</p>

</div>

<script>
	$(function(){
		$('.btn-respond').click(make_response);
	});  
</script>
