<div class="col-md-12">
<p class="text-center">
	{% if participant.role == 'proposer' %}
		{% if task.response == 'accepted' %}
			The other participant has <strong>accepted</strong> your offer.

		{% else %}
			The other participant has <strong>rejected</strong> your offer. As a result, the item was bought for £{{ task.item.market_price }} (RRP).

		{% endif %}

	{% else %}

		{% if task.response == 'accepted' %}
			You have <strong>accepted</strong> the offer.
		{% else %}
			You have <strong>rejected</strong> the offer and bought the item for £{{ task.item.market_price }} (RRP).
		{% endif %}

	{% endif %}
</p>
	
<p class="text-center">
	{% if saving %}
		You saved £{{ saving }}, which will be added to your reward.
	{% else %}
		Sorry, you did not make any savings for this item.
	{% endif %}
</p>


<p class="text-center">
	<button type="button" class="btn btn-primary btn-next-task">Go to next task</button>
</p>


</div>

<script type="text/javascript">
$(function(){
	$('.btn-next-task').click(function(data){
  		start();
  	});
});
 

</script>