<div class="col-md-offset-2 col-md-3">
	<h4>Tasks completed: {{ completed_tasks }} / {{ total_task }}</h4>
</div>
<div class="col-md-offset-2 col-md-3">
	<h4>Reward so far: £{{ participant.reward }}</h4>
</div>