{% load static %}

<div class="row body">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<div class="row score-panel">
					{% include 'precursor/score.html' %}
				</div>
			</div>
  			 
			  <div class="panel-body main" data-current-task="{{ task.item.i_id }}" data-budget="{{ task.item.market_price }}" data-role="{{ participant.role }}"
			  data-min-offer="{{ min_offer }}" data-max-offer="{{ max_offer }}" data-step="{{ step }}" data-gb-price="{{ task.item.groupbuy_price }}">
				<div class="row task-panel">
					{% include 'precursor/task-description.html' %}
				</div>

				<div class="row item-panel">
					{% include 'precursor/item.html' %}
				</div>

				<div class="row user-panel">
					{% include 'precursor/user-panel.html' %}
				</div>
  			</div>
		</div>
	</div>
</div>