<div class="col-md-12">
	<h4 class="text-center">Task No. {{ task.item.i_id }}</h4>
	<div class="col-md-offset-2 col-md-9">
		<ul>
			<li>You need to buy {{ task.qty_to_buy }}x{{task.item.quantity}} of {{ task.item.name }}</li>
			<li>You cannot store more than that amount, and it would be inconvenient to have less than that</li>
			<li>You can buy in bulk directly from a producer, but they only sell packs of {{ task.item.groupbuy_pack }}x{{ task.item.quantity }}</li>
		{% if participant.role == 'proposer' %}
			<li>You need to convince another person to share your order</li>
			<li>If you fail to do so, the item will be automatically bought at the recommended retail price (RRP).</li>
		{% else %}
			<li>Another person will offer you to share this order</li>
			<li>If you do not reach a deal, the {{ task.item.name }} will be automatically bought at the recommended retail price (RRP).</li>
		{% endif %}
		</ul>
	</div>
</div>