<div class="col-md-12">
	<p class="text-center">
		{% if participant.role == 'proposer' and not hasOffer %}
			Another participant is interested to to share the wholesale pack (each of you will get {{ task.qty_to_buy }} item).
			{% if participant.condition == 'transparent' %}
				The other person is also in the same position as you, as s/he needs {{ task.qty_to_buy }}x{{task.item.quantity}} of {{ task.item.name }} and will need to buy from the supermarket (for the same price as you) if s/he does not find someone to share.
			{% endif %}
			What is your offer to split the total cost of £{{ task.item.groupbuy_price }}?
			<p class="text-center">
				Your budget for this item: £{{ task.item.market_price }}
				<br/><em>Click on the slider to specify how you would like to split the cost of the wholesale item.</em>
				<br><em>Important: you cannot change the offer you make.</em>
			</p>
		{% endif %}
	</p>
</div>	

{% if participant.role == 'proposer' and not hasOffer %}
<div class="col-md-offset-2 col-md-8">
	<!-- <label>You pay: £</label> -->
	<!-- <input class="spinner input-offer" name="spinner"></input> -->

	<input type="text" class="slider" name="slider" value="" />

</div>
<!-- <div class="col-md-4">
	<label class="lbl-cost-split"><span class="cost-split"></span></label>
</div> -->
<div class="col-md-offset-5 col-md-2">
	<button type="button" class="btn btn-primary btn-block btn-offer" disabled="disabled">Make Offer</button>
</div>


{% else %}

<div class="col-md-12">
	{% include 'precursor/loading.html' %}
</div>

{% endif %}